@font-face {
  font-family: 'icon-family';
  src:  url('../fonts/icon-family/icon-family.eot?1woy3r');
  src:  url('../fonts/icon-family/icon-family.eot?1woy3r#iefix') format('embedded-opentype'),
    url('../fonts/icon-family/icon-family.woff2?1woy3r') format('woff2'),
    url('../fonts/icon-family/icon-family.ttf?1woy3r') format('truetype'),
    url('../fonts/icon-family/icon-family.woff?1woy3r') format('woff'),
    url('../fonts/icon-family/icon-family.svg?1woy3r#icon-family') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon__"], [class*=" icon__"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-family-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon__star:before {
  content: "\e902";
}
.icon__lock-outline:before {
  content: "\e900";
}
.icon__perm-identity:before {
  content: "\e901";
}

