@font-face {
  font-family: 'Gudea';
  src: url('../fonts/Gudea-Regular/Gudea-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gudea-Regular/Gudea-Regular.woff') format('woff'), url('../fonts/Gudea-Regular/Gudea-Regular.ttf')  format('truetype'), url('../fonts/Gudea-Regular/Gudea-Regular.svg#Gudea-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gudea';
  src: url('../fonts/Gudea-Bold/Gudea-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gudea-Bold/Gudea-Bold.woff') format('woff'), url('../fonts/Gudea-Bold/Gudea-Bold.ttf')  format('truetype'), url('../fonts/Gudea-Bold/Gudea-Bold.svg#Gudea-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gudea';
  src: url('../fonts/Gudea-Italic/Gudea-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gudea-Italic/Gudea-Italic.woff') format('woff'), url('../fonts/Gudea-Italic/Gudea-Italic.ttf')  format('truetype'), url('../fonts/Gudea-Italic/Gudea-Italic.svg#Gudea-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}
